.grid {
  width: 140px;
  height: 120px;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
}
.grid div {
  width: 20px;
  height: 20px;
}

.player-one {
  border-radius: 10px;
  background: red;
}
.player-two {
  border-radius: 10px;
  background: blue;
}
